.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
   position: absolute;
   overflow: auto;

}
.home-left-panel{
    width: 20%;
    height: 100vh;
    display: block;
    align-self: stretch;
    top: 0;
    align-self: flex-start;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    justify-content: space-evenly;
    position: sticky !important;
    z-index: 100;
    
    
}
.home-left-panel h3{
    padding: 20px;
    color: white;
    text-decoration: none;
}
.home-right-panel{
    width: 80%;
    height: 100vh;
   
   
    
}